<section class="section" id="section-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="cta-content">
          <h5 class="subtitle">Promoções</h5>
          <h2>25% desconto hoje</h2>
          <p>Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it?</p>
          <form action="#">
            <input type="text" class="form-control" placeholder="Introduza o seu Email">
            <a href="#" class="btn btn-hero">Inscrever Agora</a>
          </form>
        </div>
        </div>
    </div>
  </div>
</section>
