
<div class="banner-main">
  <div class="container">
    <div class="row justify-content-center align-items-center">


      <!-- Catch phrases and CTA's -->
      <div class="col-lg-7 col-md-12">
        <div class="main-banner-content banner-padding text-center text-lg-left">
          <h6 class="subtitle">Nós temos a solução</h6>
          <h1>Plataforma e-learning de Forex.</h1>
          <p>Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house</p>
          <div class="btn-container">
            <a href="#" class="btn btn-hero">Experimente Grátis</a>
            <a href="#" class="btn btn-outline-hero">Contatos</a>
          </div>
        </div>
      </div>


      <!-- Banner main image -->
      <div class="col-lg-5 d-md-none d-lg-block">
        <div class="banner-img-block">
          <%= image_tag 'main-banner.png', class: 'img-fluid' %>
        </div>
      </div>
    </div>
  </div>
</div>

