
<section class="section" id="section-blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="section-heading">
          <h5 class="subtitle">Análises</h5>
          <h2 class="h1">Mantenha-se atualizado</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- first blog post -->
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <%= image_tag 'blog1.png', id: 'blog-pic-1', alt: 'blog img', class: 'img-fluid' %>
          <div class="blog-meta">
            <span class="post-date">
              <i class="fas fa-calendar-alt"></i>
              25 Jan 2019
            </span>
            <span class="post-cat">
              João André
            </span>
          </div>
          <div class="blog-text">
            <a href="#" class="h4">Análise EUR/CHF</a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Sed repellat alias, reprehenderit maxime
              sunt ullam
            </p>
            <a href="#" class="learn-more">
              Saiba mais
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- second blog post -->
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <%= image_tag 'blog2.png', id: 'blog-pic-2', alt: 'blog img', class: 'img-fluid' %>
          <div class="blog-meta">
            <span class="post-date">
              <i class="fas fa-calendar-alt"></i>
              27 Jan 2019
            </span>
            <span class="post-cat">
              Fernando Marques
            </span>
          </div>
          <div class="blog-text">
            <a href="#" class="h4">Incógnita Draghi</a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Sed repellat alias, reprehenderit maxime
              sunt ullam
            </p>
            <a href="#" class="learn-more">
              Saiba mais
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- third blog post -->
      <div class="col-lg-4 col-md-6">
        <div class="single-blog">
          <%= image_tag 'blog1.png', id: 'blog-pic-3', alt: 'blog img', class: 'img-fluid' %>
          <div class="blog-meta">
            <span class="post-date">
              <i class="fas fa-calendar-alt"></i>
              29 Jan 2019
            </span>
            <span class="post-cat">
              Samuel Laranjeira
            </span>
          </div>
          <div class="blog-text">
            <a href="#" class="h4">Relação SP500 e DXI</a>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Sed repellat alias, reprehenderit maxime
              sunt ullam
            </p>
            <a href="#" class="learn-more">
              Saiba mais
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

