<!-- intro wrapper start -->
<section id="intro">
  <div class="container">
    <div class="intro-container">
      <div class="row justify-content-center">

        <!-- first catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block mb55">
            <div class="intro-icon">
              <%= image_tag 'zoom.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>

        <!-- second catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block mb55">
            <div class="intro-icon">
              <%= image_tag 'laptop.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>

        <!-- third catch phrases -->
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="intro-block no-border">
            <div class="intro-icon">
              <%= image_tag 'smartphone.png', alt: 'intro icon', class: 'img-fluid' %>
            </div>
            <div class="intro-content">
              <h4>Hello this is h4 Blue</h4>
              <p>The gun is advertised as the most popular gun in American crime</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- wrapper intro end -->
