
<section class="section" id="section-pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">Escolha o seu plano</h5>
          <h2 class="h1">não espere mais, comece hoje</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="pricing-table">
          <div class="pricing-header">
            <h2>250<small>Eur</small></h2>
            <h4>Curso</h4>
            <h6>Vitalicío</h6>
          </div>
          <ul class="list-unstyled pricing-feature basic">
            <li>some sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
          </ul>
          <a href="#" class="btn btn-outline-hero">Comprar</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pricing-table">
          <div class="pricing-header">
            <h2>250<small>Eur</small></h2>
            <h4>Curso</h4>
            <h6>Vitalicío</h6>
          </div>
          <ul class="list-unstyled pricing-feature">
            <li>some sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
          </ul>
          <a href="#" class="btn btn-hero">Comprar</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="pricing-table">
          <div class="pricing-header">
            <h2>250<small>Eur</small></h2>
            <h4>Curso</h4>
            <h6>Vitalicío</h6>
          </div>
          <ul class="list-unstyled pricing-feature">
            <li>some sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
            <li>more sell points</li>
          </ul>
          <a href="#" class="btn btn-outline-hero">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</section>

