<!-- Section testimonials start -->
<section class="section" id="section-testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">Testemunhos</h5>
          <h2 class="h1">o que os nossos clientes dizem</h2>
        </div>
      </div>
    </row>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="carousel slide" id="testimonial-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="test-content">
                <p class="lead">
                  Ezekiel 25:17. The path of the righteous man is beset on all sides by the inequities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will, shepherds the weak through the valley of the darkness, for he is truly his brother’s keeper and the finder of lost children.
                </p>
                <div class="test-img">
                  <%= image_tag 'testimonialUp.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Jules Winnfield</h5>
                  <p>Marsellus Hitman</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="test-content">
                <p class="lead">
                  Let me tell you something you already know. The world ain't all sunshine and rainbows. It's a very mean and nasty place and I don't care how tough you are it will beat you to your knees and keep you there permanently if you let it. You, me, or nobody is gonna hit as hard as life. But it ain't about how hard ya hit. It's about how hard you can get hit and keep moving forward. How much you can take and keep moving forward. That's how winning is done!
                </p>
                <div class="test-img">
                  <%= image_tag 'testimonialUp.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Rocky Balboa</h5>
                  <p>Former Heavy Weights Champ</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="test-content">
                <p class="lead">
                  What you lookin’ at? You all a bunch of fuckin’ assholes. You know why? You don’t have the guts to be what you wanna be? You need people like me. You need people like me so you can point your fuckin’ fingers and say, “That’s the bad guy.” So… what that make you? Good? You’re not good. You just know how to hide, how to lie. Me, I don’t have that problem. Me, I always tell the truth. Even when I lie. So say good night to the bad guy! Come on. The last time you gonna see a bad guy like this again, let me tell you. Come on. Make way for the bad guy. There’s a bad guy comin’ through! Better get outta his way!
                </p>
                <div class="test-img">
                  <%= image_tag 'testimonialUp.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Tony Montana</h5>
                  <p>Drug Lord</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section testimonials end -->
