<!-- section social media / instagram start -->
<section class="section" id="section-instagram">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">Sobre nós</h5>
          <h2 class="h1">contribuímos para a cultura financeira</h2>
        </div>
      </div>
    </div>
      <div class="row">
        <!-- 1st row verticaly centered text in the square columns -->
        <div class="square img_1-1"></div>
        <div class="square img_1-2"></div>
        <div class="square img_1-3"></div>
        <div class="square img_2-1"></div>
        <!-- 2nd row verticaly centered images in square columns -->
        <div class="square img_2-2"></div>
        <div class="square img_2-3"></div>
        <div class="square img_3-1"></div>
        <div class="square img_3-2" id="insta-square"></div>
      </div>
  </div>
</section>
<!-- section social media/ instagram end -->
