
<section class="section" id="section-process">
  <div class="container">
    <!-- tittle -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">A nossa metodologia</h5>
          <h2 class="h1">trabalhamos com dedicação & profissionalismo</h1>
        </div>
      </div>
    </div>
    <!-- first work process -->
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'seoimage.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>01</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
      <!-- second work process -->
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'buyimage.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>02</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
      <!-- third work process -->
      <div class="col-lg-4 col-md-6">
        <div class="process-img-block">
          <%= image_tag 'processos.png', class: 'img-fluid' %>
          <div class="process-content">
            <span>03</span>
            <p>The path of the righteous man is beset on all sides</p>
          </div>
        </div>
      </div>
    </div>
    <!-- first box statistic -->
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">75</span>
            <span>%</span>
          </h2>
          <p>Users recomendam</p>
        </div>
      </div>
      <!-- second box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">984</span>
            <span>+</span>
          </h2>
          <p>Clientes Satisfeitos</p>
        </div>
      </div>
      <!-- third box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">120</span>
            <span>H</span>
          </h2>
          <p>De Conteúdo</p>
        </div>
      </div>
      <!-- fourth box statistic -->
      <div class="col-lg-3 col-md-6">
        <div class="counter-stat">
          <h2>
            <span class="counter">1</span>
            <span>k</span>
          </h2>
          <p>Users total</p>
        </div>
      </div>
    </div>
  </div>
</section>

