<!-- Section testimonials start -->
<section class="section" id="section-testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-heading text-center">
          <h5 class="subtitle">Testemunhos</h5>
          <h2 class="h1">o que os nossos clientes dizem</h2>
        </div>
      </div>
    </row>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="carousel slide" id="testimonial-slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="test-content">
                <p class="lead">
                  Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
                </p>
                <div class="test-img">
                  <%= image_tag 'elonmusk.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Elon Musk</h5>
                  <p>CEO of Tesla</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="test-content">
                <p class="lead">
                  Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
                </p>
                <div class="test-img">
                  <%= image_tag 'elonmusk.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Elon Musk</h5>
                  <p>CEO of Tesla</p>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="test-content">
                <p class="lead">
                  Normally, both your asses would be dead as fucking fried chicken, but you happen to pull this shit while I'm in a transitional period so I don't wanna kill you, I wanna help you. But I can't give you this case, it don't belong to me. Besides, I've already been through too much shit this morning over this case to hand it over to your dumb ass.
                </p>
                <div class="test-img">
                  <%= image_tag 'elonmusk.png', class: 'img-fluid' %>
                </div>
                <div class="client-info">
                  <h5>Elon Musk</h5>
                  <p>CEO of Tesla</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
