<footer id="section-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="subscribe-form">
          <h5>Mantenha-se a par das últimas novidades da Income Markets</h5>
          <form action="#">
            <input type="text" class="form-control" placeholder="Introduza o seu Email">
            <a href="#" class="btn btn-hero">Subscreva agora</a>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="widget footer-widget">
          <h1>Income Markets</h1>
          <p>A sua plataforma e-learning de Forex.</p>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#"><i class="fab fa-youtube"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="widget footer-widget">
          <h4>Serviços</h4>
          <ul class="list-unstyled">
            <li><a href="#">um serviço</a></li>
            <li><a href="#">dois serviços</a></li>
            <li><a href="#">três serviços</a></li>
            <li><a href="#">quatro serviços</a></li>
            <li><a href="#">cinco serviços</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="widget footer-widget">
          <h4>Empresa</h4>
          <ul class="list-unstyled">
            <li><a href="#">um ponto</a></li>
            <li><a href="#">dois pontos</a></li>
            <li><a href="#">três pontos</a></li>
            <li><a href="#">quatro pontos</a></li>
            <li><a href="#">cinco pontos</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="widget footer-widget">
          <h4>Localização</h4>
          <ul class="list-unstyled location-info">
            <li>
              <i class="fas fa-location-arrow"></i>
              <p>Inserir aqui a morada da empresa</p>
            </li>
            <li>
              <i class="fas fa-phone"></i>
              <p>Inserir aqui contactos da empresa</p>
            </li>
             <li>
              <i class="far fa-envelope"></i>
              <p>Inserir aqui email da empresa</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
