
<section class="section" id="section-services">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-chalkboard-teacher"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-comments-dollar"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-chart-line"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-chart-pie"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-video"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-block">
            <i class="fas fa-balance-scale"></i>
            <h4>Hello this is h4 blue</h4>
            <p>Illum assumenda dolore dolorem que vero consectetur dolor,
            adipisci pariatur.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="service-btm">
            <p>tudo o que precisa para ser um bom trader</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

