.banner-padding{
    padding: 240px 0px 160px 0px;
}

.btn-container{
    margin-top: 20px;
    a {
        margin-right: 10px;
    }
}

.main-banner-content{
    h1{
        font-size: 45px;
        color: $secondary-color;
    }
    p{
        font-size: 20px;
        margin: 22px 0px 45px;
        padding-right: 30px;
        line-height: 38px;
        color: $subtitle-color;
    }
}

