/*-------------------------------
buttons
-------------------------------*/
.btn {
  line-height: 2rem;
  border: 2px solid $border-color;
  padding: 5px 35px;
  border-radius: 50px;
  text-transform: capitalize;
  transition: all .7s ease; }

.btn-outline {
  background: $primary-color;
  color: $white;
  border-color: $primary-color;
  &:hover {
    background: $black;
    border-color: $black;
    color: $white;
  }
}

