/*-------------------------------
header
-------------------------------*/
.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  color: $secondary-color; }

.main-navigation {
  padding: 20px 0px;
  border-bottom: 1px solid $border-color;
  transition: all .7s linear; }
  .main-navigation .nav-link {
    font-size: 16px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: 0.5px; }
  .main-navigation .btn {
    background: transparent;
    color: $black;
    border-color: $primary-color; }

.extra-nav {
  margin-right: 20px;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  padding-left: 20px;
  padding-right: 20px; }
  .extra-nav li a {
    padding: 20px 10px;
    font-size: 16px; }

.btn-sm {
  padding: 5px 18px;
  border-radius: 50px; }

.extra-nav li a i.fa-facebook-square {
  color: $secondary-color; }

.extra-nav li a i.fa-linkedin {
  color: $primary-color; }

.extra-nav li a i.fa-instagram {
  color: $secondary-color; }

.extra-nav li a i.fa-youtube {
  color: $primary-color; }


